.container {
  position: relative;
  display: inline-block; /* Ensures the container wraps around the image and text */
  border: 25px blue;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Make the container fill the entire height of the viewport */
  width: 100vw; /* Make the container fill the entire width of the viewport */
}
.text-overlay-login {
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.5); /* Semi-transparent background */
  padding: 10px;
  font-size: 20px;
}

.text-overlay {
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.5); /* Semi-transparent background */
  padding: 10px;
  font-size: 20px;
}
.tool-bar {
  position: absolute;
  top: 65%;
  left: 50%;
  width: 45%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.5); /* Semi-transparent background */
  padding: 10px;
  font-size: 20px;
}
.cover-image {
width: 100%;
 
}