.container {
  position: relative;
  display: inline-block; /* Ensures the container wraps around the image and text */
  border: 25px blue;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Make the container fill the entire height of the viewport */
  width: 100vw; /* Make the container fill the entire width of the viewport */
}
.text-overlay-login {
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.5); /* Semi-transparent background */
  padding: 10px;
  font-size: 20px;
}

.text-overlay {
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.5); /* Semi-transparent background */
  padding: 10px;
  font-size: 20px;
}
.tool-bar {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 20%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.5); /* Semi-transparent background */
  padding: 10px;
  font-size: 20px;

}
.cover-image {
width: 100%;
 
}
.text-overlay-categories {
  position: absolute;  
  top: 55%;
  left: 50%;
  width: 35%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.5); /* Semi-transparent background */
  padding: 10px;
  font-size: 20px;
  width: 60%;
  height: 40%;
}
.category{  
  display: flex;
}
.book-category{
  margin: 8%;
}
.menu{  
  display: flex;
}
.menu-buttons{
  margin: 8%;  
}

.menu-buttons button{
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.3); /* Semi-transparent background */
  
}
.toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #333;
  color: #fff;
}

.logo {
  font-size: 20px;
}

.actions button {
  margin-left: 10px;
  padding: 5px 10px;
  border: none;
  background-color: transparent;
  color: #fff;
  cursor: pointer;
}

.actions button:hover {
  background-color: rgba(255, 255, 255, 0.2);
}